### read csv and answer the questions.

In [1]:
install.packages("dplyr", repos="http://cran.rstudio.com/") 
install.packages("RSQLite", repos="http://cran.rstudio.com/") 
install.packages("sqldf", repos="http://cran.rstudio.com/")

Installing package into 'C:/Users/tsankhe/Documents/R/win-library/3.3'
(as 'lib' is unspecified)

package 'dplyr' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\tsankhe\AppData\Local\Temp\RtmpKeqpvc\downloaded_packages

Installing package into 'C:/Users/tsankhe/Documents/R/win-library/3.3'
(as 'lib' is unspecified)

package 'RSQLite' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\tsankhe\AppData\Local\Temp\RtmpKeqpvc\downloaded_packages

Installing package into 'C:/Users/tsankhe/Documents/R/win-library/3.3'
(as 'lib' is unspecified)

package 'sqldf' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\tsankhe\AppData\Local\Temp\RtmpKeqpvc\downloaded_packages

In [2]:
library(dplyr)
library(RSQLite)
library(sqldf)

Warning message:
"package 'dplyr' was built under R version 3.3.3"
Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

Warning message:
"package 'RSQLite' was built under R version 3.3.3"Warning message:
"package 'sqldf' was built under R version 3.3.3"Loading required package: gsubfn
Loading required package: proto
Could not load tcltk.  Will use slower R code instead.

In [3]:
players<-read.csv("Players.csv")
teams<-read.csv("Teams.csv")

In [4]:
head(players)
head(teams)

  X player_api_id player_name       date                overall_rating
1 1 2625          Patryk Rachwal,18 2012-02-22 00:00:00 58
2 2 2625          Patryk Rachwal,18 2013-03-08 00:00:00 61
3 3 2625          Patryk Rachwal,18 2011-02-22 00:00:00 59
4 4 2625          Patryk Rachwal,18 2014-09-18 00:00:00 61
5 5 2625          Patryk Rachwal,18 2012-08-31 00:00:00 58
6 6 2625          Patryk Rachwal,18 2014-11-07 00:00:00 61
  gk_overall number_of_appearances number_of_leagues
1 45         4                     1
2 45         4                     1
3 45         4                     1
4 45         4                     1
5 45         4                     1
6 45         4                     1

  X team_api_id team_long_name date                build_up_play
1 1 1601        Ruch Chorzów   2010-02-22 00:00:00   0
2 2 1601        Ruch Chorzów   2011-02-22 00:00:00   0
3 3 1601        Ruch Chorzów   2012-02-22 00:00:00   0
4 4 1601        Ruch Chorzów   2013-09-20 00:00:00   0
5 5 1601        Ruch Chorzów   2014-09-19 00:00:00 139
6 6 1601        Ruch Chorzów   2015-09-10 00:00:00 133
  chance_creation defence total_goals
1 155             175     280
2 186             144     280
3 159             136     280
4 159             136     280
5 181             136     280
6 176             136     280

## Which are the top 10 players by overall rating

In [5]:
ans<- group_by(players, player_name) %>% distinct(overall_rating) %>% filter(overall_rating==max(overall_rating)) %>%  arrange(desc(overall_rating)) 
ans<-select(ans, player_name, everything())
head(ans, n=10)

   player_name       overall_rating
1  Lionel Messi      94
2  Gianluigi Buffon  93
3  Wayne Rooney      93
4  Cristiano Ronaldo 93
5  Xavi Hernandez    92
6  Gregory Coupet    92
7  Thierry Henry     91
8  John Terry        91
9  Iker Casillas     91
10 Alessandro Nesta  91

## Which are the top 10 goalkeepers by sum of gk attributes?

In [6]:
ans<- group_by(players, player_name) %>% distinct(gk_overall) %>% filter(gk_overall==max(gk_overall)) %>%  arrange(desc(gk_overall)) 
ans<-select(ans, player_name, everything())
head(ans, n=10)

   player_name       gk_overall
1  Gianluigi Buffon  449
2  Gregory Coupet    447
3  Petr Cech         445
4  Iker Casillas     442
5  Manuel Neuer      440
6  Sebastian Frey    437
7  Edwin van der Sar 436
8  David De Gea      429
9  Pepe Reina        428
10 Paul Robinson     426

## Which are the top 10 players by number of appearances (with any team they played with)?

In [7]:
ans<- group_by(players, player_name) %>% distinct(number_of_appearances) %>% filter(number_of_appearances==max(number_of_appearances)) %>%  arrange(desc(number_of_appearances)) 
ans<-select(ans, player_name, everything())

head(ans, n=10)

   player_name          number_of_appearances
1  Steve Mandanda       289
2  Tim Howard           277
3  Hugo Lloris          274
4  Stephane Ruffier     270
5  Joe Hart             269
6  Samir Handanovic     264
7  Gorka Iraizoz Moreno 260
8  Cedric Carrasso      253
9  Manuel Neuer         251
10 Ryan Shawcross       250

## Which are the top 10 players by number of leagues they played in?

In [8]:
ans<- group_by(players, player_name) %>% distinct(number_of_leagues) %>% filter(number_of_leagues==max(number_of_leagues)) %>%  arrange(desc(number_of_leagues)) 
ans<-select(ans, player_name, everything())
head(ans, n=10)

   player_name           number_of_leagues
1  Gelson Fernandes      6
2  Ricky van Wolfswinkel 5
3  Filip Djuricic        5
4  Radamel Falcao        4
5  Jonathan De Guzman    4
6  Almen Abdi            4
7  Ibrahim Afellay       4
8  Edson Braafheid       4
9  Eljero Elia           4
10 Danijel Pranjic       4

## Which are the top 10 teams by sum of build up play attributes?

In [9]:
ans<- group_by(teams, team_long_name) %>% distinct(build_up_play) %>% filter(build_up_play==max(build_up_play)) %>%  arrange(desc(build_up_play)) 
ans<-select(ans, team_long_name, everything())
head(ans, n=10)

   team_long_name             build_up_play
1  Torino                     209
2  Udinese                    205
3  Fortuna Düsseldorf         198
4  Podbeskidzie Bielsko-Biala 193
5  Korona Kielce              192
6  Widzew Lódz                190
7  Carpi                      190
8  FC Nantes                  189
9  Sassuolo                   188
10 Lazio                      188

## Which are the top 10 teams by sum of chance creation attributes?

In [10]:
ans<- group_by(teams, team_long_name) %>% distinct(chance_creation) %>% filter(chance_creation==max(chance_creation)) %>%  arrange(desc(chance_creation)) 
ans<-select(ans, team_long_name, everything())
head(ans, n=10)

   team_long_name      chance_creation
1  Lazio               220
2  SV Werder Bremen    216
3  Napoli              215
4  Bayer 04 Leverkusen 210
5  Burnley             210
6  Cardiff City        210
7  Manchester City     210
8  Aberdeen            210
9  Rangers             210
10 Tottenham Hotspur   210

## Which are the top 10 teams by sum of defense attributes?

In [11]:
ans<- group_by(teams, team_long_name) %>% distinct(defence)  %>% filter(defence==max(defence)) %>%  arrange(desc(defence)) 
ans<-rename(ans, defense=defence)
ans<-select(ans, team_long_name, everything())
head(ans, n=10)

   team_long_name        defense
1  Jagiellonia Bialystok 210
2  SC Bastia             210
3  Zaglebie Lubin        210
4  Leicester City        210
5  Cardiff City          210
6  1. FC Kaiserslautern  210
7  Southampton           210
8  AS Nancy-Lorraine     210
9  Blackpool             210
10 Stade Brestois 29     210

## Which are the top 10 teams by number of scored goals?

In [13]:
ans<- group_by(teams, team_long_name) %>% distinct(total_goals)  %>% filter(total_goals==max(total_goals)) %>%  arrange(desc(total_goals)) 
ans<-select(ans, team_long_name, everything())
head(ans, n=10)

   team_long_name    total_goals
1  FC Barcelona      849
2  Real Madrid CF    843
3  Celtic            695
4  FC Bayern Munich  653
5  PSV               652
6  Ajax              647
7  FC Basel          619
8  Manchester City   606
9  Chelsea           583
10 Manchester United 582

## References

### https://cran.r-project.org/web/packages/dplyr/vignettes/introduction.html
### https://rpubs.com/justmarkham/dplyr-tutorial
### https://rdrr.io/cran/dplyr/man/select.html