In [1]:
install.packages("class", repos="http://cran.rstudio.com/")

Installing package into 'C:/Users/tsankhe/Documents/R/win-library/3.3'
(as 'lib' is unspecified)

package 'class' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\tsankhe\AppData\Local\Temp\RtmpCiZWcQ\downloaded_packages

In [2]:
library(class)

Warning message:
"package 'class' was built under R version 3.3.3"

In [3]:
german<-read.csv("german_credit_data1.csv")
#german<-na.omit(german)

In [4]:
names(german)

 [1] "X."               "Age"              "Sex"              "Job"
 [5] "Housing"          "Saving.accounts"  "Checking.account" "Credit.amount"
 [9] "Duration"         "Purpose"          "Credit.Risks"

In [5]:
head(german)

  X. Age Sex    Job Housing Saving.accounts Checking.account Credit.amount
1 0  67  male   2   own     NA              little           1169
2 1  22  female 2   own     little          moderate         5951
3 2  49  male   1   own     little          NA               2096
4 3  45  male   2   free    little          little           7882
5 4  53  male   2   free    little          little           4870
6 5  35  male   1   free    NA              NA               9055
  Duration Purpose             Credit.Risks
1  6       radio/TV            1
2 48       radio/TV            2
3 12       education           1
4 42       furniture/equipment 1
5 24       car                 2
6 36       education           1

In [6]:
sapply(german, is.character)

              X.              Age              Sex              Job
           FALSE            FALSE            FALSE            FALSE
         Housing  Saving.accounts Checking.account    Credit.amount
           FALSE            FALSE            FALSE            FALSE
        Duration          Purpose     Credit.Risks
           FALSE            FALSE            FALSE

### (Data Normalization) convert character to numeric so that distance can be calculated ith respect to each vector

In [7]:
german$Sex <- as.numeric(german$Sex)
german$Housing <- as.numeric(german$Housing)
german$Saving.accounts<- as.numeric(german$Saving.accounts)
german$Checking.account<- as.numeric(german$Checking.account)
german$Purpose<- as.numeric(german$Purpose)
head(german)

  X. Age Sex Job Housing Saving.accounts Checking.account Credit.amount
1 0  67  2   2   2       NA               1               1169
2 1  22  1   2   2        1               2               5951
3 2  49  2   1   2        1              NA               2096
4 3  45  2   2   1        1               1               7882
5 4  53  2   2   1        1               1               4870
6 5  35  2   1   1       NA              NA               9055
  Duration Purpose Credit.Risks
1  6       6       1
2 48       6       2
3 12       4       1
4 42       5       1
5 24       2       2
6 36       4       1

In [8]:
german<-na.omit(german)
head(german)

   X. Age Sex Job Housing Saving.accounts Checking.account Credit.amount
2   1 22  1   2   2       1               2                5951
4   3 45  2   2   1       1               1                7882
5   4 53  2   2   1       1               1                4870
8   7 35  2   3   3       1               2                6948
10  9 28  2   3   2       1               2                5234
11 10 25  1   2   3       1               2                1295
   Duration Purpose Credit.Risks
2  48       6       2
4  42       5       1
5  24       2       2
8  36       2       1
10 30       2       2
11 12       2       2

In [9]:
str(german)

'data.frame':	522 obs. of  11 variables:
 $ X.              : int  1 3 4 7 9 10 11 12 13 14 ...
 $ Age             : int  22 45 53 35 28 25 24 22 60 28 ...
 $ Sex             : num  1 2 2 2 2 1 1 1 2 1 ...
 $ Job             : int  2 2 2 3 3 2 2 2 1 2 ...
 $ Housing         : num  2 1 1 3 2 3 3 2 2 3 ...
 $ Saving.accounts : num  1 1 1 1 1 1 1 1 1 1 ...
 $ Checking.account: num  2 1 1 2 2 2 1 2 1 1 ...
 $ Credit.amount   : int  5951 7882 4870 6948 5234 1295 4308 1567 1199 1403 ...
 $ Duration        : int  48 42 24 36 30 12 48 12 24 15 ...
 $ Purpose         : num  6 5 2 2 2 2 1 6 2 2 ...
 $ Credit.Risks    : int  2 1 2 1 2 2 2 1 2 1 ...
 - attr(*, "na.action")=Class 'omit'  Named int [1:478] 1 3 6 7 9 17 18 20 21 25 ...
  .. ..- attr(*, "names")= chr [1:478] "1" "3" "6" "7" ...

In [10]:
sampling.rate <-0.8
n.points<-nrow(german)
num.test.set.labels<- n.points* (1 - sampling.rate)

training<-sample(1:n.points, sampling.rate*n.points, replace=FALSE)
german_train<-subset(german[training,])

testing<-setdiff(1:n.points,training)
german_test<-subset(german[testing,])
#head(german_test)
train_labels<- german$Credit.Risks[training]
true_labels<- german$Credit.Risks[testing]

In [11]:
knn(german_train,german_test,train_labels,k=3)

  [1] 1 1 1 1 1 1 1 1 1 1 1 2 1 1 2 1 1 2 2 2 1 2 1 1 1 1 2 2 1 1 2 2 2 1 1 1 1
 [38] 2 2 1 1 1 1 1 1 1 2 1 1 1 2 2 2 2 2 2 1 2 2 1 2 2 1 1 2 1 2 1 2 2 2 1 1 1
 [75] 2 2 2 1 2 1 1 2 2 2 1 2 2 2 2 1 2 2 2 2 2 2 2 1 1 2 2 1 1 2 2
Levels: 1 2

In [12]:
options(warn=-1)

In [14]:
n.points<-nrow(german)
result=NULL
s<-seq(0.6,0.9, by=0.1)
for(sampling.rate in s)
{
out=NULL
#sampling.rate <-0.8
num.test.set.labels<- n.points* (1 - sampling.rate)
training<-sample(1:n.points, sampling.rate*n.points, replace=FALSE)
train<-subset(german[training,])

testing<-setdiff(1:n.points,training)
test<-subset(german[testing,])

cl<- german$Credit.Risks[training]
true.labels<-german$Credit.Risks[testing]

for(k in 1:20) {
#print(k)
predicted.labels <- knn(train,test,cl,k)
num.incorrect.labels<-sum(predicted.labels !=true.labels)
misclassification.rate<-num.incorrect.labels/num.test.set.labels
#print(misclassification.rate)
out=rbind(out,data.frame(misclassification.rate))
}
    #cbind(result,out)

}

## perform knn for different sampling rates on the data file and merge them at the end

In [15]:
sampling.rate <-0.6
six.df=NULL
num.test.set.labels<- n.points* (1 - sampling.rate)
training<-sample(1:n.points, sampling.rate*n.points, replace=FALSE)
train<-subset(german[training,])

testing<-setdiff(1:n.points,training)
test<-subset(german[testing,])

cl<- german$Credit.Risks[training]
true.labels<-german$Credit.Risks[testing]

for(k in 1:20) {
#print(k)
predicted.labels <- knn(train,test,cl,k)
num.incorrect.labels<-sum(predicted.labels !=true.labels)
misclassification.rate<-num.incorrect.labels/num.test.set.labels
#print(misclassification.rate)
six.df=rbind(six.df,data.frame(misclassification.rate))
}

In [16]:
sampling.rate <-0.7
seven.df=NULL
num.test.set.labels<- n.points* (1 - sampling.rate)
training<-sample(1:n.points, sampling.rate*n.points, replace=FALSE)
train<-subset(german[training,])

testing<-setdiff(1:n.points,training)
test<-subset(german[testing,])

cl<- german$Credit.Risks[training]
true.labels<-german$Credit.Risks[testing]

for(k in 1:20) {
#print(k)
predicted.labels <- knn(train,test,cl,k)
num.incorrect.labels<-sum(predicted.labels !=true.labels)
misclassification.rate<-num.incorrect.labels/num.test.set.labels
#print(misclassification.rate)
seven.df=rbind(seven.df,data.frame(misclassification.rate))
}

In [17]:
sampling.rate <-0.8
eight.df=NULL
num.test.set.labels<- n.points* (1 - sampling.rate)
training<-sample(1:n.points, sampling.rate*n.points, replace=FALSE)
train<-subset(german[training,])

testing<-setdiff(1:n.points,training)
test<-subset(german[testing,])

cl<- german$Credit.Risks[training]
true.labels<-german$Credit.Risks[testing]

for(k in 1:20) {
#print(k)
predicted.labels <- knn(train,test,cl,k)
num.incorrect.labels<-sum(predicted.labels !=true.labels)
misclassification.rate<-num.incorrect.labels/num.test.set.labels
#print(misclassification.rate)
eight.df=rbind(eight.df,data.frame(misclassification.rate))
}

In [18]:
sampling.rate <-0.9
nine.df=NULL
num.test.set.labels<- n.points* (1 - sampling.rate)
training<-sample(1:n.points, sampling.rate*n.points, replace=FALSE)
train<-subset(german[training,])

testing<-setdiff(1:n.points,training)
test<-subset(german[testing,])

cl<- german$Credit.Risks[training]
true.labels<-german$Credit.Risks[testing]

for(k in 1:20) {
#print(k)
predicted.labels <- knn(train,test,cl,k)
num.incorrect.labels<-sum(predicted.labels !=true.labels)
misclassification.rate<-num.incorrect.labels/num.test.set.labels
#print(misclassification.rate)
nine.df=rbind(nine.df,data.frame(misclassification.rate))
}

In [19]:
k<-seq(1,20)
result<-cbind(k,six.df,seven.df,eight.df,nine.df)
colnames(result) <- c("k-value","train_60", "train_70", "train_80","train_90")

In [22]:
head(result,n=20)

   k-value train_60  train_70  train_80  train_90
1   1      0.5220307 0.4597701 0.4693487 0.3639847
2   2      0.5363985 0.4853129 0.4980843 0.4022989
3   3      0.4980843 0.4853129 0.4597701 0.4406130
4   4      0.4932950 0.4406130 0.4789272 0.4789272
5   5      0.5076628 0.4214559 0.5268199 0.4597701
6   6      0.4549808 0.4406130 0.4693487 0.4980843
7   7      0.5076628 0.4406130 0.5076628 0.4980843
8   8      0.4741379 0.3895275 0.5076628 0.4789272
9   9      0.4932950 0.4214559 0.4501916 0.5172414
10 10      0.4885057 0.4406130 0.4980843 0.5363985
11 11      0.4980843 0.4533844 0.4597701 0.5172414
12 12      0.4885057 0.4853129 0.4406130 0.4980843
13 13      0.4837165 0.4725415 0.4885057 0.4980843
14 14      0.4741379 0.4469987 0.5076628 0.4980843
15 15      0.4645594 0.4597701 0.4885057 0.5172414
16 16      0.4645594 0.4469987 0.4789272 0.4980843
17 17      0.4645594 0.4916986 0.4501916 0.4406130
18 18      0.5076628 0.5108557 0.4501916 0.4980843
19 19      0.4501916 0.4980843 0.4118774 0.4789272
20 20      0.4597701 0.4725415 0.4310345 0.4789272

In [23]:
apply(result, 2, function(x) min(x,k, na.rm = TRUE))

  k-value  train_60  train_70  train_80  train_90
1.0000000 0.4501916 0.3895275 0.4118774 0.3639847

## Reference
## https://rstudio-pubs-static.s3.amazonaws.com/123438_3b9052ed40ec4cd2854b72d1aa154df9.html
## https://www.analyticsvidhya.com/blog/2015/08/learning-concept-knn-algorithms-programming/